/**
 * iSummary Settings Page
 */
 
#post-body-content .postbox {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: transparent;
}
#postbox-container-1 .postbox li a {
	text-decoration: initial;
	display: block;
}
#post-body-content abbr[title],
#postbox-container-1 abbr[title],
#post-body-content abbr[data-original-title],
#postbox-container-1 abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}