/**
 * iSummary Feeds Page
 */
 
.ias-container img { max-width: 100%; }
.ias-container .ias-hide img { display: none; }
.wrap .ias-button.add-new-h2,
.wrap .ias-button.add-new-h2:active { top: -6px; }
